// 左侧导航设置  JustTwo
$leftnav: 240px; // 左侧导航宽度
$collapse: 65px; // 左侧导航折叠后宽度
$leftnavTop: 60px; // 左侧导航顶部高度
$collapseTransition: all linear 0.5s; // 折叠动画时长
$collapseTransitionDelay: 0.2s; // 折叠动画延迟

// 顶部导航设置
$topnav: 60px; // 顶部导航高度